<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--注解驱动-->
    <mvc:annotation-driven>
        <!--消息转换器，将值以application/json;charset=utf-8形式写进response的body中-->
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json;charset=utf-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--扫描controller包，让spring识别到对应的注解-->
    <context:component-scan base-package="com.njfu.zshop.front.controller"/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--默认servlet句柄-->
    <mvc:default-servlet-handler/>

    <!--view-controller-->
    <mvc:view-controller path="/showLogin" view-name="login"/>

    <!--将对应路径进行映射-->
    <mvc:resources mapping="/css/*" location="/WEB-INF/css/"/>
    <mvc:resources mapping="/js/*" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/images/*" location="/WEB-INF/images/"/>
    <mvc:resources mapping="/fonts/*" location="/WEB-INF/fonts/"/>
    <mvc:resources mapping="/layer/**" location="/WEB-INF/layer/"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有请求，包括二级以上项目 -->
            <mvc:mapping path="/front/**"/>
            <!-- 配置不拦截 -->
            <mvc:exclude-mapping path="/front/product/**"/>
            <mvc:exclude-mapping path="/front/customer/loginByAccount"/>
            <mvc:exclude-mapping path="/front/customer/add"/>
            <mvc:exclude-mapping path="/front/customer/checkName"/>
            <mvc:exclude-mapping path="/front/css/**"/>
            <mvc:exclude-mapping path="/front/js/**"/>
            <mvc:exclude-mapping path="/front/images/**"/>
            <mvc:exclude-mapping path="/front/fonts/**"/>
            <mvc:exclude-mapping path="/front/layer/**"/>
            <bean class="com.njfu.zshop.front.interceptor.FrontLoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--文件上传-->
    <!--
    1：这个bean的id必须是multipartResolver，原因是在springmvc的核心类：DispatcherServlet中，已经将很多bean的id固定了，必须保证bean的id相同，这样springmvc才能正常工作
    2：需要2个jar包：commons-fileupload.jar,commons-io.jar-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>

</beans>